.App {
    text-align: center;
}

.app__form {
    z-index: 1;
    position: fixed;
    bottom: 0;
    padding: 20px;
    width: 100%;
    background-color: #E0E0E0;
    margin: 20px;
}

.logo {
    height: 80px;
    width: 80px;
}